<nav>
  <LinkTo @route="index" class="menu-gifs">gifs</LinkTo>
  <span>&bull;</span>
  <LinkTo @route="stickers" class="menu-stickers">stickers</LinkTo>
  <span>&bull;</span>
  <LinkTo @route="text" class="menu-text">text</LinkTo>
</nav>