{{page-title "Gifs"}}
<div class="items-container">
  {{#each this.model as |item|}}
    <GiphyItem @item={{item}} />
  {{/each}}
</div>
<button class="btn-more" type="button" {{on 'click' (fn this.loadMoreItems 'gifs')}}>LOAD MORE</button>